import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')

body
	font-family FiraSans-Regular

.row
	display flex
	justify-content center
	margin-top 50px

.complete
	color $textColorGreen
	font-size $textSizeXL
	display none

	&:before
		font normal normal normal 14px/1 FontAwesome
		font-size inherit
		text-rendering auto
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale
		content '\f00c'
		display inline-block
		margin-right 10px
