import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')

body
	font-family FiraSans-Regular

.row
	display flex
	justify-content center
	margin-top 50px
