include /blocks/course/course

mixin courses(courses)
	// start courses
	+b.courses&attributes(attributes)
		each course in courses
			+course(course.image,course.title, course.description, course.duration)
	// end courses
