include /blocks/course/course
include /blocks/wrapper/wrapper

mixin courses(courses)
	// start courses
	-var coursesCount = courses.length
	-var counter = 0
	-var course = null
	-var courseIndex = null
	+wrapper
		+b.courses&attributes(attributes)

			each course in courses
				+course(course.image, course.title, course.description, course.duration,course.href, course.id )

	// end courses
