.section_complete .courses
	justify-content center

.courses
	margin auto
	margin-top 50px
	width 1020px
	display flex
	flex-wrap wrap
	justify-content space-around
	justify-content flex-start

	.row
		display flex
		justify-content center
		align-items flex-start
