.about
	display flex
	width 500px

	&  .column
		text-align left

	&__headline
		width 275px
		font-size $textSizeM
		margin-bottom 20px

	&__subtext
		width 275px
		font-size $textSizeS
		color $textColorGray
		line-height 21px

	& svg
		size 140px
		margin-right 20px
