mixin course(imageSrc, title, description, duration, href)
	+b.course&attributes(attributes)

		a(href= href)
			+e('img').image(src= imageSrc)

			.text
				+e('h4').title= title
				+e('p').description= description
				+e('p').duration
					i.fa.fa-clock-o
					|
					= duration

		.form
			+e('input').checkbox(type='checkbox')
			+e('label').checkbox-label Посмотрел
