.course
	display inline-block
	width 300px
	box-shadow 0 1px 5px rgba(0, 0, 0, 0.2)
	border-radius 1px
	background white
	height 100%
	position relative
	margin 0 20px

	a
		text-decoration none

	.text
		padding 20px
		text-align left
		position relative

	&__title
		font-size $textSizeL
		color $textColorBlack
		margin-bottom 15px

	&__description
		font-size $textSizeS
		color: $textColorGray
		line-height 21px
		margin-bottom 20px

	&__duration
		font-size $textSizeS
		color lighten( $textColorGray, 50% )

	.fa
		display inline-block
		font normal normal normal 14px/1 FontAwesome
		font-size inherit
		text-rendering auto
		-webkit-font-smoothing antialiased
		-moz-osx-font-smoothing grayscale

	.fa-clock-o:before
		content "\f017"
		margin-right 5px


	.form
		padding 20px
		background-color #f6f7f2
		text-align left

	&__checkbox
		display none

		&:checked + &-label:before
			color #e8f3db
			background-color #8cc34b
			border 2px solid #8cc34b
			border-radius 1px


	&__checkbox-label
		font-size $textSizeM
		color $textColorGray

		&:before
			color #e8f3db
			font normal normal normal 14px/1 FontAwesome
			font-size inherit
			text-rendering auto
			-webkit-font-smoothing antialiased
			-moz-osx-font-smoothing grayscale
			content '\f00c'

			color white
			display inline-block
			background-color white
			border 2px solid #b6b6b6
			border-radius 1px
			size 20px
			margin-right 20px

	&:hover &__title
		color $textColorGreen

	&:hover .text:before
		content ''
		display block
		size 300px 5px
		background-color $textColorGreen
		position absolute
		top -8px
		left 0

	&_checked:before
		content ''
		display block
		width 100%
		height 100%
		background-color #e8f3db
		opacity 0.6
		position absolute
		top 0
		left 0







