mixin course(imageSrc, title, description, duration, href, id)
	+b.course&attributes(attributes)

		a(href= href)
			+e('img').image(src= imageSrc)

			.text
				+e('h4').title= title
				+e('p').description= description
				+e('p').duration
					i.fa.fa-clock-o
					= duration

		.form
			+e('input').checkbox(type='checkbox', name= id, id= id)
			+e('label').checkbox-label(for= id) Посмотрел
