.section
	display block
	padding 80px 0
	text-align center
	min-width 1200px

	&_bg
		position relative
		background linear-gradient(to bottom, rgba(246,247,242,0.6) 0%,rgba(246,247,242,0.6) 100%), url('../images/gplaypattern.png')
		margin-bottom 50px;



	&__headline
		font-size $textSizeXL
		font-family  FiraSans-Medium

	&__subtext
		font-size $textSizeL
		font-family FiraSans-Light
		font-weight 500
		color $textColorGray
		margin-top 20px

	&_complete
		display flex
		justify-content center
		align-items baseline
		margin-bottom 80px
