include /blocks/wrapper/wrapper

mixin section(style, headline, subtext)
	// start section
	if style == 'bg'
		+b('section').section_bg&attributes(attributes)
			+e('h2').headline= headline
			+e('p').subtext= subtext
			block

	else if style == 'white'
		+b('section').section&attributes(attributes)
			+e('h2').headline= headline
			+e('p').subtext= subtext
			block
	// end section

