.person
	display flex
	align-items center
	justify-content flex-start


	& div
		margin-left 20px

	&__image
		size 60px 60px
		border-radius 50%

	&__name
		font-size $textSizeM
		color $textColorWhite
		font-weight bold
		line-height 28px

	&__email
		color $textColorWhite
		opacity 0.7
		text-decoration none
		font-size $textSizeS
		line-height 28px
