.person
	display flex
	align-items center
	justify-content flex-start

	& .image-wrapper
		margin-left 0px
		height 60px
		width 60px
		overflow hidden
		border-radius 50%

	& div
		margin-left 20px

	&__name
		font-size $textSizeM
		color $textColorWhite
		font-weight bold
		line-height 28px

	&__email
		color $textColorWhite
		opacity 0.7
		text-decoration none
		font-size $textSizeS
		line-height 28px
