@font-face {
	font-family: FiraSans-Bold; /* Гарнитура шрифта */
	src: url(../fonts/FiraSans-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FiraSans-BoldItalic; /* Гарнитура шрифта */
	src: url(../fonts/FiraSans-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FiraSans-Italic; /* Гарнитура шрифта */
	src: url(../fonts/FiraSans-Italic.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FiraSans-Light; /* Гарнитура шрифта */
	src: url(../fonts/FiraSans-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FiraSans-LightItalic; /* Гарнитура шрифта */
	src: url(../fonts/FiraSans-LightItalic.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FiraSans-Medium; /* Гарнитура шрифта */
	src: url(../fonts/FiraSans-Medium.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FiraSans-MediumItalic; /* Гарнитура шрифта */
	src: url(../fonts/FiraSans-MediumItalic.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: FiraSans-Regular; /* Гарнитура шрифта */
	src: url(../fonts/FiraSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: fa; /* Гарнитура шрифта */
	src: url(../fonts/fontawesome-webfont.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: fa; /* Гарнитура шрифта */
	src: url(../fonts/fontawesome.otf); /* Путь к файлу со шрифтом */
}
@font-face {
	font-family: "FontAwesome"
	font-style: normal
	font-weight: normal
	src url("../font/FontAwesome.otf")
	src: url("../fonts/fontawesome-webfont.ttf") format("truetype")
}
