include  /blocks/wrapper/wrapper
include  /blocks/header/header
include /blocks/section/section
include /blocks/footer/footer
include /blocks/about/about
include /blocks/courses/courses

extends /blocks/layout-default/layout-default


block head
	- var pageTitle = 'dsfdfdfdfCSSSR Project Tedfmplate';

block content

	-var courses = getData('courses');

	+wrapper
		+header

		+section('white', 'О будущем ученике', 'Ребятам из лофт блог будет полезно узнать обо мне')
			+about('imageSrc', 'Немного обо мне', 'lorem sdlfjsdlfkjsdlfjsdlfslkdfjllsdf')
			+about('imageSrc', 'Мой опыт в разработке', 'sdfjlsflsdflsdfsjdf;sdfksdfsdf')

		+section('image', 'Курсы на loftblog', 'которые помогут мне в выполнении этого задания')
			+courses(courses)

		+footer('А это футер с текстом внутри. Он должен быть прибит к низу окна браузера, не зависимо от количества контента на странице и размера окна')
