include  /blocks/wrapper/wrapper
include  /blocks/header/header

extends /blocks/layout-default/layout-default


block head
	- var pageTitle = 'dsfdfdfdfCSSSR Project Tedfmplate';

block content

	+wrapper
		+header

