include /blocks/person/person
include /blocks/socials/socials
include /blocks/wrapper/wrapper

mixin header()

	-var socials = getData('socials');
	// header
	+b('header').header&attributes(attributes)
		+wrapper
			+person('assets/images/avatar.png', 'Дмитриевский Сергей Владимирович', 'dmitrievskiy-serega@yandex.ru')
			+socials(socials)
	// end header
