include /blocks/person/person
include /blocks/socials/socials

mixin header()
	// header
	+b('header').header&attributes(attributes)
		+person('dsf', 'Дмитриевский Сергей Владимирович', 'dmitrievskiy-serega@yandex.ru')
		+socials
	// end header
