.footer
	display block
	//position fixed
	//bottom 0
	text-align center
	background-color #212121
	width 100%
	padding 20px
	color $textColorGray
	box-shadow 0 6px 6px rgba(0, 0, 0, 0.2)
	font-size $textSizeS

	&__text
		width 600px
		margin auto
		line-height 21px
