.socials
	display flex
	align-items center

	&__link
		display inline-block
		margin-left 20px
		color white

		& svg
			size 30px 30px
			fill-opacity 0.7
			fill currentColor

			&:hover
				fill-opacity 1



